<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ArtScape</title>
    <link rel="stylesheet" href="payment-success.css">
</head>
<body>
    <header>
        <a class="logo" href="../index.html">ArtScape</a>
        <nav>
            <a href="#">About</a>
            <a class="exhibition" href="#">Exhibition</a>
            <a href="#">Contacts</a>
            <img src="https://firebasestorage.googleapis.com/v0/b/unify-v3-copy.appspot.com/o/o2d8k32u3d-3%3A10?alt=media&token=25ff0fbf-686d-417e-97c9-8885c86f57e0"/>
        </nav>
        <div class="cart-set">
            <img src="https://firebasestorage.googleapis.com/v0/b/unify-v3-copy.appspot.com/o/o2d8k32u3d-3%3A26?alt=media&token=fbd633e6-2c9c-4092-839b-f8a2fa277a75"/>
            <img src="https://firebasestorage.googleapis.com/v0/b/unify-v3-copy.appspot.com/o/o2d8k32u3d-3%3A105?alt=media&token=71227ef7-5ace-40fe-b4f1-c2e132dd0643"/>
        </div>
    </header>
</body>
</html>